openapi: 3.0.3
info:
  title: Faction Public APIs
  description: "\xA9 2023 Faction, Inc. All rights reserved\n\nWelcome to the Faction\
    \ Public APIs!  Our Faction Public APIs allow us and our customers to configure,\
    \ provision, and monitor Faction infrastructure.  Faction uses these APIs to build\
    \ our portal [https://portal.factioninc.com](https://portal.factioninc.com) and\
    \ can also be used by our customers with their systems to create a seamless integration\
    \ with Faction.\n\nThe hierarchical structure of our APIs is by **version** (e.g.,\
    \ v1, v2) and **namespace** (e.g., fix).\n\nOur version approach is to only create\
    \ a new API when it breaks backward compatibility.  Hence, a new version will\
    \ NOT be a complete copy of all of the previous version APIs, but only those that\
    \ have changed\n\nNamespaces are a way we group our APIs by common functionality.\
    \ This grouping makes it easier to discover the right API for the functionality\
    \ you wish to use.\n\nWe also have a public Github repository where you can fork\
    \ to run some of client API code (in Python) and the complete OpenAPI 3 spec we\
    \ use to build and deploy our APIs.  Our repo is located here: [https://github.com/factioninc/faction-api-examples](https://github.com/factioninc/faction-api-examples)\n\
    \nOur current Public APIs contain the following versions and namespaces:\n\n\n\
    \n| Version | Namespace     | Description                                    \
    \              |\n| ------- | ------------- | ------------------------------------------------------------\
    \ |\n| v1      | organizations | Provides information about organizations.   \
    \                 |\n| v1      | ccv           | Provides information about ccv\
    \ (Cloud Control Volumes) |\n| v2      | fix            | Provides information\
    \ about fix (Faction Internetwork eXchange) connections |\n"
  version: v1 and v2
servers:
- url: https://api.factioninc.com
paths:
  /v2/fix/connections:
    post:
      description: Create a new FIX Connection.
      summary: Create a new FIX Connection.
      operationId: create_connection
      tags:
      - FIX Connections
      parameters:
      - name: X-Organization-Id
        in: header
        schema:
          type: string
          nullable: false
          format: uuid
        required: true
      - name: locationCode
        in: query
        schema:
          type: string
        required: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFixConnection'
            examples:
              AwsExample:
                value:
                  connectionType: cloud
                  connectionData:
                    connectionSubType: aws_direct_connect
                    providerRegion: us-east-1
                    factionLocations:
                    - DC15
                    bandwidth: 12
                    accountId: exampleinc
                    crossCloud: true
              AzureExample:
                value:
                  connectionType: cloud
                  connectionData:
                    connectionSubType: azure_express_route_circuit
                    providerRegion: eastus
                    factionLocations:
                    - DC15
                    bandwidth: 5
              GoogleExample:
                value:
                  connectionType: cloud
                  connectionData:
                    connectionSubType: gcp_partner_interconnect
                    providerRegion: eastus
                    factionLocations:
                    - DC15
                    bandwidth: 2
                    pairingKey: key1
              OracleExample:
                value:
                  connectionType: cloud
                  connectionData:
                    connectionSubType: oci_fast_connect
                    providerRegion: eastus
                    factionLocations:
                    - DC15
                    bandwidth: 3
                    tenancy: secret1
                    localPeeringGateway: key1
              InternetExample:
                value:
                  connectionType: internet
                  connectionData:
                    factionLocations:
                    - DC15
                    bandwidth: 14
              InterRegionExample:
                value:
                  connectionType: interRegion
                  connectionData:
                    factionLocations:
                    - DC15
                    - CHI1
                    bandwidth: 14
              PrivateFacilityBackboneExample:
                value:
                  connectionType: private
                  connectionData:
                    connectionSubType: facility_backbone_connection
                    factionLocations:
                    - DC15
                    bandwidth: 5
              PrivateIntrafacilityExample:
                value:
                  connectionType: private
                  connectionData:
                    connectionSubType: intrafacility_cross_connect
                    factionLocations:
                    - DC15
                    bandwidth: 10
              PrivateSdnProviderExample:
                value:
                  connectionType: private
                  connectionData:
                    connectionSubType: sdn_provider_connection
                    factionLocations:
                    - DC15
                    bandwidth: 1
              PrivateTraditionalCircuitExample:
                value:
                  connectionType: private
                  connectionData:
                    connectionSubType: traditional_circuit
                    factionLocations:
                    - DC15
                    bandwidth: 10
      responses:
        '202':
          description: Success
          headers:
            Location:
              description: GET <url>/v1/fix/connections/{connectionId}/requests/{requestId}
              content:
                application/json:
                  schema:
                    $ref: '#/components/schemas/FixConnection'
        '400':
          description: Error Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequest'
        '401':
          description: Error Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
    get:
      description: Returns a list of the Fix Connections.
      summary: Returns a list of the Fix Connections.
      operationId: get_connections
      tags:
      - FIX Connections
      parameters:
      - name: X-Organization-Id
        in: header
        schema:
          type: string
          nullable: false
          format: uuid
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FixConnection'
              examples:
                CloudTypeExample:
                  value:
                  - identifier: 00df8dfa-f1df-4af6-be2b-71d672256165
                    connectionType: cloud
                    connectionData:
                      bandwidth: 2
                      bandwidthUnits: gbps
                      connectionSubType: azure_express_route_circuit
                      factionLocations:
                      - DC15
                      providerRegion: us-east-1
                      crossCloud: false
                    active: true
                    state: Ready
                  - identifier: 00d6hhddfa-f1df-4af6-be2b-71d67246386467
                    connectionType: cloud
                    connectionData:
                      bandwidth: 5
                      bandwidthUnits: gbps
                      connectionSubType: aws_direct_connect
                      factionLocations:
                      - DC15
                      providerRegion: us-east-1
                      accountId: exampleinc
                      vifIds:
                      - gfhgdfjhd-yrueyr88
                      - 123-gggg
                      crossCloud: true
                    active: true
                    state: Ready
                  - identifier: d620e245-89cd-4a0d-b819-ffbd0f30781d
                    connectionType: cloud
                    connectionData:
                      bandwidth: 5
                      bandwidthUnits: gbps
                      connectionSubType: gcp_partner_interconnect
                      factionLocations:
                      - DC15
                      providerRegion: us-east-1
                      pairingKey: key1
                      crossCloud: false
                    active: true
                    state: Ready
                  - identifier: d9d6dd76-861f-4ac3-b960-16b8630515c4
                    connectionType: cloud
                    connectionData:
                      bandwidth: 5
                      bandwidthUnits: gbps
                      connectionSubType: oci_fast_connect
                      factionLocations:
                      - DC15
                      providerRegion: us-east-1
                      tenancy: ''
                      localPeeringGateway: ''
                      crossCloud: false
                    active: true
                    state: Ready
                PrivateTypeExample:
                  value:
                  - identifier: 00df8dfa-f1df-4af6-be2b-71d67225889
                    connectionType: private
                    connectionData:
                      bandwidth: 1
                      bandwidthUnits: gbps
                      connectionSubType: sdn_provider_connection
                      factionLocations:
                      - UK1
                    active: true
                    state: Ready
                  - identifier: 00df8dfa-f1df-4af6-be2b-71d67225889
                    connectionType: private
                    connectionData:
                      bandwidth: 1
                      bandwidthUnits: gbps
                      connectionSubType: facility_backbone_connection
                      factionLocations:
                      - UK1
                    active: true
                    state: Ready
                  - identifier: 00df8dfa-f1df-4af6-be2b-71d67225889
                    connectionType: private
                    connectionData:
                      bandwidth: 1
                      bandwidthUnits: gbps
                      connectionSubType: intrafacility_cross_connect
                      factionLocations:
                      - UK1
                    active: true
                    state: Ready
                  - identifier: 00df8dfa-f1df-4af6-be2b-71d67225889
                    connectionType: private
                    connectionData:
                      bandwidth: 1
                      bandwidthUnits: gbps
                      connectionSubType: traditional_circuit
                      factionLocations:
                      - UK1
                    active: true
                    state: Ready
                InternetTypeExample:
                  value:
                  - identifier: 00df8dfa-f1df-4af6-be2b-71d6722800089
                    connectionType: internet
                    connectionData:
                      bandwidth: 10
                      bandwidthUnits: gbps
                      factionLocations:
                      - UK1
                    active: true
                    state: Ready
                InterRegionTypeExample:
                  value:
                  - identifier: 00df8dfa-f1df-4af6-be2b-71d672277779
                    connectionType: interRegion
                    connectionData:
                      bandwidth: 5
                      bandwidthUnits: gbps
                      factionLocations:
                      - UK1
                      - FR7
                    active: true
                    state: Ready
        '401':
          description: Error Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
  /v2/fix/connections/{connectionId}:
    get:
      description: Returns a single Fix Connection by Identifier.
      summary: Returns a single Fix Connection by Identifier.
      operationId: get_connection
      tags:
      - FIX Connections
      parameters:
      - name: X-Organization-Id
        in: header
        schema:
          type: string
          nullable: false
          format: uuid
        required: true
      - name: connectionId
        in: path
        schema:
          type: string
          nullable: false
          format: uuid
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FixConnection'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
    patch:
      description: Updates attributes of a single connection.
      summary: Updates attributes of a single connection.
      operationId: patch_connection
      tags:
      - FIX Connections
      parameters:
      - name: X-Organization-Id
        in: header
        schema:
          type: string
          nullable: false
          format: uuid
        required: true
      - name: connectionId
        in: path
        schema:
          type: string
          nullable: false
          format: uuid
        required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchFixConnection'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FixConnection'
        '400':
          description: Error Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
    delete:
      description: Removes an active connection.
      summary: Removes an active connection.
      operationId: delete_connection
      tags:
      - FIX Connections
      parameters:
      - name: X-Organization-Id
        in: header
        schema:
          type: string
          nullable: false
          format: uuid
        required: true
      - name: connectionId
        in: path
        schema:
          type: string
          nullable: false
          format: uuid
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FixConnection'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
  /v1/organizations:
    get:
      summary: Get list of organizations
      description: Provides a list of organizations.  This could be a list of all
        organizations, the current organization, or a list of assigned organizations
        (for OEMs) based on the user access level.
      operationId: organizationsGet
      tags:
      - Organizations
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Organization'
              example:
              - identifier: 23f8bfa4-3737-44b6-a74e-0603a01fc25a
                name: ACME Corporation
                orgCode: ACME
                pingPopulationId: 1d0aa3fc-1d1f-4ea2-a21f-18ffea350df2
          headers:
            Access-Control-Allow-Origin:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Methods:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Headers:
              style: simple
              explode: false
              schema:
                type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
          headers:
            Access-Control-Allow-Origin:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Methods:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Headers:
              style: simple
              explode: false
              schema:
                type: string
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          headers:
            Access-Control-Allow-Origin:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Methods:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Headers:
              style: simple
              explode: false
              schema:
                type: string
      security:
      - defaultAuthorizer: []
  /v1/organizations/{organizationId}:
    get:
      summary: Get organization
      description: Returns the information on a single organization, based on the
        Organization Identifier provided.
      operationId: organizationIdGet
      tags:
      - Organizations
      parameters:
      - name: organizationId
        in: path
        schema:
          type: string
          format: uuid
          nullable: false
        required: true
      - $ref: '#/components/parameters/X-Organization-Id'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
              example:
                identifier: 23f8bfa4-3737-44b6-a74e-0603a01fc25a
                name: ACME Corporation
                orgCode: ACME
                pingPopulationId: 1d0aa3fc-1d1f-4ea2-a21f-18ffea350df2
          headers:
            Access-Control-Allow-Origin:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Methods:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Headers:
              style: simple
              explode: false
              schema:
                type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
          headers:
            Access-Control-Allow-Origin:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Methods:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Headers:
              style: simple
              explode: false
              schema:
                type: string
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
          headers:
            Access-Control-Allow-Origin:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Methods:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Headers:
              style: simple
              explode: false
              schema:
                type: string
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          headers:
            Access-Control-Allow-Origin:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Methods:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Headers:
              style: simple
              explode: false
              schema:
                type: string
      security:
      - orgContextAuthorizer: []
  /v1/organizations/{organizationId}/roles:
    get:
      tags:
      - Organizations
      summary: Get organization's roles
      description: "Gets the roles available to the organization. Roles are assigned\
        \ to users to control their permissions.\nThere are two categories of roles:\
        \ Portal roles and VPN roles.\n\nPortal roles control the actions available\
        \ in the Faction portal.\nThe possible portal roles are:\n  - <b>User:</b>\
        \ Enables read access\n  - <b>Technician:</b> Enables write access \n  - <b>Org_Admin:</b>\
        \ Enables user management\n  - <b>Group_Admin:</b> Enables multiple organization\
        \ management \n\nVPN roles determine which VPNs a user can access. \n"
      operationId: organizationRolesGet
      parameters:
      - name: organizationId
        in: path
        schema:
          type: string
          format: uuid
          nullable: false
        required: true
      - name: X-Organization-Id
        in: header
        schema:
          type: string
          nullable: false
          format: uuid
        required: true
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Roles'
              example:
                portalRoles:
                - User
                - Technician
                - Org_Admin
                - Group_Admin
                vpnRoles:
                - vpn_dc15_e01
          headers:
            Access-Control-Allow-Origin:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Methods:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Headers:
              style: simple
              explode: false
              schema:
                type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
          headers:
            Access-Control-Allow-Origin:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Methods:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Headers:
              style: simple
              explode: false
              schema:
                type: string
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          headers:
            Access-Control-Allow-Origin:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Methods:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Headers:
              style: simple
              explode: false
              schema:
                type: string
  /v1/organizations/{organizationId}/sso:
    get:
      summary: Get SSO configuration
      description: Gets an organization's Single Sign-On (SSO) configuration.
      operationId: ssoGet
      tags:
      - Organizations
      parameters:
      - name: organizationId
        in: path
        schema:
          type: string
          format: uuid
          nullable: false
        required: true
      - name: X-Organization-Id
        in: header
        schema:
          type: string
          nullable: false
          format: uuid
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SSOGet'
              example:
                clientId: xddr5-678
                clientSecret: mysecret
                discoveryUri: https://example.com/discovery
                email: providerAttributes.email
                externalAuthorization: externalAuthorization
                userName: providerAttributes.sub
                callbackUrl: https://auth.factiondev.com/rp/callback/openid_connect
          headers:
            Access-Control-Allow-Origin:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Methods:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Headers:
              style: simple
              explode: false
              schema:
                type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
          headers:
            Access-Control-Allow-Origin:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Methods:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Headers:
              style: simple
              explode: false
              schema:
                type: string
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
          headers:
            Access-Control-Allow-Origin:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Methods:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Headers:
              style: simple
              explode: false
              schema:
                type: string
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          headers:
            Access-Control-Allow-Origin:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Methods:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Headers:
              style: simple
              explode: false
              schema:
                type: string
    post:
      summary: Enable Single Sign-On (SSO)
      description: "Enables Single Sign-On (SSO) through an OpenID Connect (OIDC)\
        \ identity provider.\nThe request body should contain the information necessary\
        \ to configure the OIDC identity provider. \nThe configuration includes mapping\
        \ the attributes provided by your OIDC application \nto userName and email\
        \ attributes used by the Faction portal. \n- <b>clientId:</b> The client ID\
        \ of your OIDC application \n- <b>discoveryUri:</b> Your OIDC application's\
        \ discovery URI\n- <b>clientSecret:</b> The client secret of your OIDC application\n\
        - <b>userName:</b> Attribute from your OIDC application which will be used\
        \ as Faction portal username\n- <b>email:</b> Attribute from your OIDC application\
        \ which will be used as Faction portal email\n- <b>externalAuthorization:</b>\
        \ Attribute from your OIDC application which will be used to\n  determine\
        \ users' Faction portal group membership\n- <b>mfaAttest:</b> By providing\
        \ a value of \"true\", you attest that the identity provider \n  configured\
        \ in this request requires multi-factor authentication (MFA).\n"
      operationId: ssoPost
      tags:
      - Organizations
      parameters:
      - name: organizationId
        in: path
        schema:
          type: string
          format: uuid
          nullable: false
        required: true
      - name: X-Organization-Id
        in: header
        schema:
          type: string
          nullable: false
          format: uuid
        required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SSOPostBody'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SPCallBack'
              example:
                clientId: xddr5-678
                clientSecret: mysecret
                discoveryUri: https://example.com/discovery
                userName: providerAttributes.sub
                email: providerAttributes.email
                externalAuthorization: externalAuthorization
                mfaAttest: true
          headers:
            Access-Control-Allow-Origin:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Methods:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Headers:
              style: simple
              explode: false
              schema:
                type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
          headers:
            Access-Control-Allow-Origin:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Methods:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Headers:
              style: simple
              explode: false
              schema:
                type: string
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
          headers:
            Access-Control-Allow-Origin:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Methods:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Headers:
              style: simple
              explode: false
              schema:
                type: string
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          headers:
            Access-Control-Allow-Origin:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Methods:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Headers:
              style: simple
              explode: false
              schema:
                type: string
    put:
      summary: Update Single Sign-On (SSO) configuration
      description: "Updates Single Sign-On (SSO) configuration for and organization.\
        \ \nSee `POST /{organizationId}/sso` for a description of the values \nin\
        \ the request body.\n"
      operationId: ssoPut
      tags:
      - Organizations
      parameters:
      - name: organizationId
        in: path
        schema:
          type: string
          format: uuid
          nullable: false
        required: true
      - name: X-Organization-Id
        in: header
        schema:
          type: string
          nullable: false
          format: uuid
        required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SSO'
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SSO'
              example:
                clientId: xddr5-678
                clientSecret: mysecret
                discoveryUri: https://example.com/discovery
                userName: providerAttributes.sub
                email: providerAttributes.email
                externalAuthorization: externalAuthorization
          headers:
            Access-Control-Allow-Origin:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Methods:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Headers:
              style: simple
              explode: false
              schema:
                type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
          headers:
            Access-Control-Allow-Origin:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Methods:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Headers:
              style: simple
              explode: false
              schema:
                type: string
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
          headers:
            Access-Control-Allow-Origin:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Methods:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Headers:
              style: simple
              explode: false
              schema:
                type: string
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          headers:
            Access-Control-Allow-Origin:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Methods:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Headers:
              style: simple
              explode: false
              schema:
                type: string
    delete:
      summary: Disable Single Sign-On (SSO)
      description: 'Disables Single Sign-On (SSO) for an organization.

        '
      operationId: ssoDelete
      tags:
      - Organizations
      parameters:
      - name: organizationId
        in: path
        schema:
          type: string
          format: uuid
          nullable: false
        required: true
      - name: X-Organization-Id
        in: header
        schema:
          type: string
          nullable: false
          format: uuid
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SSODeleted'
              example:
                ssoDeleted: true
          headers:
            Access-Control-Allow-Origin:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Methods:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Headers:
              style: simple
              explode: false
              schema:
                type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
          headers:
            Access-Control-Allow-Origin:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Methods:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Headers:
              style: simple
              explode: false
              schema:
                type: string
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
          headers:
            Access-Control-Allow-Origin:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Methods:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Headers:
              style: simple
              explode: false
              schema:
                type: string
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          headers:
            Access-Control-Allow-Origin:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Methods:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Headers:
              style: simple
              explode: false
              schema:
                type: string
  /v1/organizations/{organizationId}/sso/groups:
    get:
      summary: Get list of organization's SSO groups
      description: "Provides a list of the organization's SSO groups. \n\nSSO groups\
        \ are used to \nautomatically assign users' roles based on their external\
        \ authorizaitons.\nAny user with an external authorization which matches an\
        \ SSO group's `groupName` \nwill be added to that group and assigned the roles\
        \ associated with that group.\nExternal authorizations are provided by the\
        \ organization's identity provider \nas configured by the `/{organizationId}/sso`\
        \ endpoint.\n"
      operationId: ssoGroupsGet
      tags:
      - Organizations
      parameters:
      - name: organizationId
        in: path
        schema:
          type: string
          format: uuid
          nullable: false
        required: true
      - name: X-Organization-Id
        in: header
        schema:
          type: string
          nullable: false
          format: uuid
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Groups'
              example:
              - groupName: Portal_Users
                identifier: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                roles:
                - User
                - Technician
                - vpn_dc15_e01
          headers:
            Access-Control-Allow-Origin:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Methods:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Headers:
              style: simple
              explode: false
              schema:
                type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
          headers:
            Access-Control-Allow-Origin:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Methods:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Headers:
              style: simple
              explode: false
              schema:
                type: string
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
          headers:
            Access-Control-Allow-Origin:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Methods:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Headers:
              style: simple
              explode: false
              schema:
                type: string
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          headers:
            Access-Control-Allow-Origin:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Methods:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Headers:
              style: simple
              explode: false
              schema:
                type: string
    post:
      summary: Create SSO group
      description: "Creates an SSO group. \n\nSSO groups are used to \nautomatically\
        \ assign users' roles based on their external authorizaitons.\nAny user with\
        \ an external authorization which matches an SSO group's `groupName` \nwill\
        \ be added to that group and assigned the roles associated with that group.\n\
        External authorizations are provided by the organization's identity provider\
        \ \nas configured by the `/{organizationId}/sso` endpoint.\n"
      operationId: ssoGroupsPost
      tags:
      - Organizations
      parameters:
      - name: organizationId
        in: path
        schema:
          type: string
          format: uuid
          nullable: false
        required: true
      - name: X-Organization-Id
        in: header
        schema:
          type: string
          nullable: false
          format: uuid
        required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupPostBody'
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Groups'
              example:
                identifier: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                groupName: Portal_Users
                roles:
                - User
                - Technician
                - vpn_dc15_e01
          headers:
            Access-Control-Allow-Origin:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Methods:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Headers:
              style: simple
              explode: false
              schema:
                type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
          headers:
            Access-Control-Allow-Origin:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Methods:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Headers:
              style: simple
              explode: false
              schema:
                type: string
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
          headers:
            Access-Control-Allow-Origin:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Methods:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Headers:
              style: simple
              explode: false
              schema:
                type: string
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          headers:
            Access-Control-Allow-Origin:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Methods:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Headers:
              style: simple
              explode: false
              schema:
                type: string
  /v1/organizations/{organizationId}/sso/groups/{groupId}:
    delete:
      summary: Delete SSO group
      description: Deletes the SSO group with ID `groupId`.
      operationId: ssoGroupIdDelete
      tags:
      - Organizations
      parameters:
      - name: organizationId
        in: path
        schema:
          type: string
          format: uuid
          nullable: false
        required: true
      - name: groupId
        in: path
        schema:
          type: string
          format: uuid
          nullable: false
        required: true
      - name: X-Organization-Id
        in: header
        schema:
          type: string
          nullable: false
          format: uuid
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupDeleted'
              example:
                groupDeleted: true
          headers:
            Access-Control-Allow-Origin:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Methods:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Headers:
              style: simple
              explode: false
              schema:
                type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
          headers:
            Access-Control-Allow-Origin:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Methods:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Headers:
              style: simple
              explode: false
              schema:
                type: string
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
          headers:
            Access-Control-Allow-Origin:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Methods:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Headers:
              style: simple
              explode: false
              schema:
                type: string
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          headers:
            Access-Control-Allow-Origin:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Methods:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Headers:
              style: simple
              explode: false
              schema:
                type: string
    put:
      summary: Update SSO group
      description: "Updates the SSO group with ID `groupId`.\n\nSSO groups are used\
        \ to \nautomatically assign users' roles based on their external authorizaitons.\n\
        Any user with an external authorization which matches an SSO group's `groupName`\
        \ \nwill be added to that group and assigned the roles associated with that\
        \ group.\nExternal authorizations are provided by the organization's identity\
        \ provider \nas configured by the `/{organizationId}/sso` endpoint.\n"
      operationId: ssoGroupIdPut
      tags:
      - Organizations
      parameters:
      - name: organizationId
        in: path
        schema:
          type: string
          format: uuid
          nullable: false
        required: true
      - name: groupId
        in: path
        schema:
          type: string
          format: uuid
          nullable: false
        required: true
      - name: X-Organization-Id
        in: header
        schema:
          type: string
          nullable: false
          format: uuid
        required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Groups'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Groups'
              example:
                groupName: Portal_Users
                identifier: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                roles:
                - User
                - Technician
                - vpn_dc15_e01
          headers:
            Access-Control-Allow-Origin:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Methods:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Headers:
              style: simple
              explode: false
              schema:
                type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
          headers:
            Access-Control-Allow-Origin:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Methods:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Headers:
              style: simple
              explode: false
              schema:
                type: string
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
          headers:
            Access-Control-Allow-Origin:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Methods:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Headers:
              style: simple
              explode: false
              schema:
                type: string
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          headers:
            Access-Control-Allow-Origin:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Methods:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Headers:
              style: simple
              explode: false
              schema:
                type: string
  /v1/organizations/{organizationId}/keys:
    get:
      summary: Get API keys
      description: Gets this organization's API keys. Can search for a specific API
        key by providing `clientId` or `name` as a query parameter.
      operationId: keysGet
      tags:
      - Organizations
      parameters:
      - name: organizationId
        in: path
        schema:
          type: string
          format: uuid
          nullable: false
        required: true
      - $ref: '#/components/parameters/X-Organization-Id'
      - name: clientId
        in: query
        schema:
          type: string
          format: uuid
        required: false
      - name: name
        in: query
        schema:
          type: string
        required: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/APIKey'
              example:
              - name: API Key 1
                clientId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                roles:
                - User
                - Technician
                - vpn_dc15_e01
                createdBy: my_user
                createdAt: 2023-01-01 12:00:00+00:00
          headers:
            Access-Control-Allow-Origin:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Methods:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Headers:
              style: simple
              explode: false
              schema:
                type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
          headers:
            Access-Control-Allow-Origin:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Methods:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Headers:
              style: simple
              explode: false
              schema:
                type: string
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
          headers:
            Access-Control-Allow-Origin:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Methods:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Headers:
              style: simple
              explode: false
              schema:
                type: string
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          headers:
            Access-Control-Allow-Origin:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Methods:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Headers:
              style: simple
              explode: false
              schema:
                type: string
    post:
      summary: Create API key
      description: Create an API key with the provided roles. Requires `Org_Admin`
        role. Users cannot create a key with roles greater than their own.
      operationId: keysPost
      tags:
      - Organizations
      parameters:
      - name: organizationId
        in: path
        schema:
          type: string
          format: uuid
          nullable: false
        required: true
      - $ref: '#/components/parameters/X-Organization-Id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/APIKeyPost'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/APIKey'
                - type: object
                  properties:
                    clientSecret:
                      type: string
                example:
                  name: API Key 1
                  clientId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                  clientSecret: my-client-secret
                  roles:
                  - User
                  - Technician
                  - vpn_dc15_e01
                  createdBy: my_user
                  createdAt: 2023-01-01 12:00:00+00:00
          headers:
            Access-Control-Allow-Origin:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Methods:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Headers:
              style: simple
              explode: false
              schema:
                type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
          headers:
            Access-Control-Allow-Origin:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Methods:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Headers:
              style: simple
              explode: false
              schema:
                type: string
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
          headers:
            Access-Control-Allow-Origin:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Methods:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Headers:
              style: simple
              explode: false
              schema:
                type: string
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          headers:
            Access-Control-Allow-Origin:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Methods:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Headers:
              style: simple
              explode: false
              schema:
                type: string
  /v1/organizations/{organizationId}/keys/{clientId}:
    delete:
      summary: Delete API key
      description: Delete the API key with the specified `clientId`. Requires `Org_Admin`
        role.
      operationId: keyDelete
      tags:
      - Organizations
      parameters:
      - name: organizationId
        in: path
        schema:
          type: string
          format: uuid
          nullable: false
        required: true
      - name: clientId
        in: path
        schema:
          type: string
          format: uuid
          nullable: false
        required: true
      - $ref: '#/components/parameters/X-Organization-Id'
      responses:
        '204':
          description: deleted
          headers:
            Access-Control-Allow-Origin:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Methods:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Headers:
              style: simple
              explode: false
              schema:
                type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
          headers:
            Access-Control-Allow-Origin:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Methods:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Headers:
              style: simple
              explode: false
              schema:
                type: string
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
          headers:
            Access-Control-Allow-Origin:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Methods:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Headers:
              style: simple
              explode: false
              schema:
                type: string
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          headers:
            Access-Control-Allow-Origin:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Methods:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Headers:
              style: simple
              explode: false
              schema:
                type: string
  /v1/tickets:
    get:
      summary: Get tickets
      description: "Gets the list of support tickets for the organization \nspecified\
        \ by the X-Organization-Id header. \nThe following query parameters are available\
        \ for filtering the returned tickets:\n  - status\n  - number\n  - title\n\
        \  - lastUpdatedFrom\n  - lastUpdatedTo\n  - openedAtFrom\n  - openedAtTo\n\
        \nPagination is available by providing <b>offset</b> and <b>limit</b> \nquery\
        \ parameters. Sorting is controlled by specifying <b>sortField</b> and \n\
        <b>sortDirection</b>.\n"
      operationId: ticketsGet
      tags:
      - Tickets
      parameters:
      - name: X-Organization-Id
        in: header
        schema:
          type: string
          nullable: false
          format: uuid
        required: true
      - name: offset
        in: query
        description: The response offset for the pagination
        schema:
          type: number
          nullable: false
          format: number
      - name: limit
        in: query
        description: The response limit for the pagination
        schema:
          type: number
          nullable: false
          format: number
      - name: number
        in: query
        description: The ticket number to use as a filter.
        schema:
          type: number
          nullable: false
          format: number
      - name: status
        in: query
        description: The list of statuses to use as a filter.
        schema:
          type: array
          items:
            $ref: '#/components/schemas/TicketStatus'
      - name: lastUpdatedFrom
        in: query
        description: The starting date to use as a filter.
        schema:
          type: string
          format: date-time
      - name: lastUpdatedTo
        in: query
        description: The end date to use as a filter.
        schema:
          type: string
          format: date-time
      - name: openedAtFrom
        in: query
        description: The starting date to use as a filter.
        schema:
          type: string
          format: date-time
      - name: openedAtTo
        in: query
        description: The end date to use as a filter.
        schema:
          type: string
          format: date-time
      - name: title
        in: query
        description: The title to use as a filter.
        schema:
          type: string
      - name: sortField
        in: query
        description: The field name to use for sort tickets.
        schema:
          $ref: '#/components/schemas/SortField'
      - name: sortDirection
        in: query
        description: The sort direction
        schema:
          $ref: '#/components/schemas/SortDirection'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Ticket'
          headers:
            Access-Control-Allow-Origin:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Methods:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Headers:
              style: simple
              explode: false
              schema:
                type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
          headers:
            Access-Control-Allow-Origin:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Methods:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Headers:
              style: simple
              explode: false
              schema:
                type: string
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          headers:
            Access-Control-Allow-Origin:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Methods:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Headers:
              style: simple
              explode: false
              schema:
                type: string
    post:
      summary: Create ticket
      description: Creates a new support ticket for the given organization. Provide
        a title for the ticket along with a description of the requested support.
        Upon successful creation, a ticket will notify the Faction Inc. support team
        to provide assistance.
      operationId: ticketsPost
      tags:
      - Tickets
      parameters:
      - name: X-Organization-Id
        in: header
        schema:
          type: string
          nullable: false
          format: uuid
        required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTicket'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ticket'
          headers:
            Access-Control-Allow-Origin:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Methods:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Headers:
              style: simple
              explode: false
              schema:
                type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
          headers:
            Access-Control-Allow-Origin:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Methods:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Headers:
              style: simple
              explode: false
              schema:
                type: string
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          headers:
            Access-Control-Allow-Origin:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Methods:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Headers:
              style: simple
              explode: false
              schema:
                type: string
  /v1/tickets/{ticket_id}:
    get:
      summary: Get a single ticket
      description: Gets the details of a single support ticket. Specify the requested
        ticket by supplying the ticket's <b>identifier</b> as the <b>ticket_id</b>
        field in the request path.
      operationId: ticketGet
      tags:
      - Tickets
      parameters:
      - name: X-Organization-Id
        in: header
        schema:
          type: string
          nullable: false
          format: uuid
        required: true
      - name: ticket_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ticket'
          headers:
            Access-Control-Allow-Origin:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Methods:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Headers:
              style: simple
              explode: false
              schema:
                type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
          headers:
            Access-Control-Allow-Origin:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Methods:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Headers:
              style: simple
              explode: false
              schema:
                type: string
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
          headers:
            Access-Control-Allow-Origin:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Methods:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Headers:
              style: simple
              explode: false
              schema:
                type: string
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          headers:
            Access-Control-Allow-Origin:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Methods:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Headers:
              style: simple
              explode: false
              schema:
                type: string
  /v1/tickets/{ticket_id}/attachments:
    get:
      summary: Get ticket attachments
      description: Gets the metadata for each attachment on a support ticket. Specify
        the requested ticket by supplying the ticket's <b>identifier</b> as the <b>ticket_id</b>
        field in the request path. Use the `/{ticket_id}/attachments/{attachment_id}`
        endpoint to get the attachment itself.
      operationId: ticketAttachmentsGet
      tags:
      - Tickets
      parameters:
      - name: X-Organization-Id
        in: header
        schema:
          type: string
          nullable: false
          format: uuid
        required: true
      - name: ticket_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TicketAttachment'
          headers:
            Access-Control-Allow-Origin:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Methods:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Headers:
              style: simple
              explode: false
              schema:
                type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
          headers:
            Access-Control-Allow-Origin:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Methods:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Headers:
              style: simple
              explode: false
              schema:
                type: string
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
          headers:
            Access-Control-Allow-Origin:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Methods:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Headers:
              style: simple
              explode: false
              schema:
                type: string
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          headers:
            Access-Control-Allow-Origin:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Methods:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Headers:
              style: simple
              explode: false
              schema:
                type: string
    post:
      summary: Add attachment to ticket
      description: "Add a new attachment to a specific support ticket.\nThe request\
        \ body Content-Type is `multipart/form-data` and contains the file to be attached.\n\
        Attachments can be text, image, or video files.\nSupported attachment file\
        \ types include:\n  - .txt\n  - .pdf\n  - .doc\n  - .docx\n  - .xls\n  - .xlsx\n\
        \  - .png\n  - .jpg\n  - .jpeg\n  - .gif\n  - .svg\n  - .mp4\n  - .mov\n"
      operationId: ticketAttachmentsPost
      tags:
      - Tickets
      parameters:
      - name: X-Organization-Id
        in: header
        schema:
          type: string
          nullable: false
          format: uuid
        required: true
      - name: ticket_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateTicketAttachment'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TicketAttachment'
          headers:
            Access-Control-Allow-Origin:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Methods:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Headers:
              style: simple
              explode: false
              schema:
                type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
          headers:
            Access-Control-Allow-Origin:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Methods:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Headers:
              style: simple
              explode: false
              schema:
                type: string
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
          headers:
            Access-Control-Allow-Origin:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Methods:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Headers:
              style: simple
              explode: false
              schema:
                type: string
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          headers:
            Access-Control-Allow-Origin:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Methods:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Headers:
              style: simple
              explode: false
              schema:
                type: string
  /v1/tickets/{ticket_id}/attachments/{attachment_id}:
    get:
      summary: Get ticket attachment
      description: Retrieves the contents of a ticket attachment. Attachments are
        used to provide additional information about a ticket after its creation.
        Attachments can be text, image, or video files.
      operationId: ticketAttachmentGet
      tags:
      - Tickets
      parameters:
      - name: X-Organization-Id
        in: header
        schema:
          type: string
          nullable: false
          format: uuid
        required: true
      - name: ticket_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: attachment_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success.
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
          headers:
            Access-Control-Allow-Origin:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Methods:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Headers:
              style: simple
              explode: false
              schema:
                type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
          headers:
            Access-Control-Allow-Origin:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Methods:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Headers:
              style: simple
              explode: false
              schema:
                type: string
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
          headers:
            Access-Control-Allow-Origin:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Methods:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Headers:
              style: simple
              explode: false
              schema:
                type: string
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          headers:
            Access-Control-Allow-Origin:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Methods:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Headers:
              style: simple
              explode: false
              schema:
                type: string
  /v1/tickets/{ticket_id}/comments:
    get:
      summary: Get ticket comments
      description: Returns the list of comments for a support ticket. Comments are
        used to provide additional information about a ticket after its creation.
      operationId: ticketCommentsGet
      tags:
      - Tickets
      parameters:
      - name: X-Organization-Id
        in: header
        schema:
          type: string
          nullable: false
          format: uuid
        required: true
      - name: ticket_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TicketComment'
          headers:
            Access-Control-Allow-Origin:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Methods:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Headers:
              style: simple
              explode: false
              schema:
                type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
          headers:
            Access-Control-Allow-Origin:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Methods:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Headers:
              style: simple
              explode: false
              schema:
                type: string
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
          headers:
            Access-Control-Allow-Origin:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Methods:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Headers:
              style: simple
              explode: false
              schema:
                type: string
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          headers:
            Access-Control-Allow-Origin:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Methods:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Headers:
              style: simple
              explode: false
              schema:
                type: string
    post:
      summary: Add ticket comment
      description: Add a new comment to the support ticket with identifier ticket_id.
        Comments are used to provide additional information about a ticket after its
        creation. Max comment length is 5000 characters.
      operationId: ticketCommentsPost
      tags:
      - Tickets
      parameters:
      - name: X-Organization-Id
        in: header
        schema:
          type: string
          nullable: false
          format: uuid
        required: true
      - name: ticket_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTicketComment'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TicketComment'
          headers:
            Access-Control-Allow-Origin:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Methods:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Headers:
              style: simple
              explode: false
              schema:
                type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
          headers:
            Access-Control-Allow-Origin:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Methods:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Headers:
              style: simple
              explode: false
              schema:
                type: string
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
          headers:
            Access-Control-Allow-Origin:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Methods:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Headers:
              style: simple
              explode: false
              schema:
                type: string
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          headers:
            Access-Control-Allow-Origin:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Methods:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Headers:
              style: simple
              explode: false
              schema:
                type: string
  /v1/dashboards:
    get:
      description: Returns a list of the dashboards with basic widgets configuration
      summary: Returns a list of the dashboards with basic widgets configuration
      tags:
      - Dashboards
      parameters:
      - name: X-Organization-Id
        in: header
        schema:
          type: string
          nullable: false
          format: uuid
        required: true
      - in: query
        name: type
        schema:
          type: string
          enum:
          - global
          - client
        description: The type of dashboard to return either global or client specific.  It
          is an optional parameter.  If no type is specified it defaults to client
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dashboard'
          headers:
            Access-Control-Allow-Origin:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Methods:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Headers:
              style: simple
              explode: false
              schema:
                type: string
        '401':
          description: Error unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
          headers:
            Access-Control-Allow-Origin:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Methods:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Headers:
              style: simple
              explode: false
              schema:
                type: string
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          headers:
            Access-Control-Allow-Origin:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Methods:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Headers:
              style: simple
              explode: false
              schema:
                type: string
  /v1/dashboards/{dashboardId}/widgets/{widgetId}:
    get:
      description: Returns full widget configuration with data
      summary: Returns full widget configuration with data
      tags:
      - Dashboards
      parameters:
      - name: X-Organization-Id
        in: header
        schema:
          type: string
          nullable: false
          format: uuid
        required: true
      - name: dashboardId
        in: path
        schema:
          type: string
          nullable: false
        required: true
      - name: widgetId
        in: path
        schema:
          type: string
          nullable: false
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/WidgetLine'
                - $ref: '#/components/schemas/WidgetTable'
          headers:
            Access-Control-Allow-Origin:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Methods:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Headers:
              style: simple
              explode: false
              schema:
                type: string
        '401':
          description: Error Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
          headers:
            Access-Control-Allow-Origin:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Methods:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Headers:
              style: simple
              explode: false
              schema:
                type: string
        '404':
          description: Error not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
          headers:
            Access-Control-Allow-Origin:
[...]
